<template>
    <breeze-authenticated-layout>
        <template #header>
            <div class="row">
                <div class="col">
                    <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                        Editar Empleado
                    </h2>
                </div>
                <div class="col text-right">
                    <inertia-link :href="route('empleados')" class="btn btn-danger my-2 my-sm-0">
                        Cancelar
                    </inertia-link>
                </div>


            </div>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6 bg-white border-b border-gray-200">
                        <breeze-validation-errors class="mb-4" />

                        <form @submit.prevent="submit">
                            <div class="row">
                                <div class="col">
                                    <breeze-label for="tipo_contracto" value="Tipo de Contrato" />
                                    <select class="form-control" id="tipo_contracto" v-model="form.tipo_contracto">
                                        <option value="indefinido" >Indefinido</option>
                                        <option value="renovacion">Renovación</option>
                                        <option value="medio_tiempo">Medio Tiempo</option>
                                    </select>
                                </div>
                                <div class="col text-right pt-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="defaultCheck1" v-model="form.estado">
                                        <label class="form-check-label" for="defaultCheck1">
                                            Estatus {{form.estado}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-4">
                                <breeze-label for="codigo" value="Código" />
                                <breeze-input id="codigo" type="text" class="mt-1 block w-full" v-model="form.codigo" required autofocus />
                            </div>

                            <div class="mt-4">
                                <breeze-label for="name" value="Nombre" />
                                <breeze-input id="name" type="text" class="mt-1 block w-full" v-model="form.nombre" required autofocus autocomplete="name" />
                            </div>

                            <div class="mt-4">
                                <breeze-label for="last_name" value="Apellido Paterno" />
                                <breeze-input id="last_name" type="text" class="mt-1 block w-full" v-model="form.apellido_paterno" required autofocus autocomplete="last_name" />
                            </div>

                            <div class="mt-4">
                                <breeze-label for="last_name2" value="Apellido Materno" />
                                <breeze-input id="last_name2" type="text" class="mt-1 block w-full" v-model="form.apellido_materno" required autofocus autocomplete="last_name2" />
                            </div>

                            <div class="mt-4">
                                <breeze-label for="email" value="Correo Electrónico" />
                                <breeze-input id="email" type="email" disabled class="mt-1 block w-full" v-model="form.email" required autocomplete="username" />
                            </div>

                            <div class="flex items-center justify-end mt-4">
                                <breeze-button class="ml-4" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                                    Guardar
                                </breeze-button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6 bg-white border-b border-gray-200">
                        <breeze-validation-errors class="mb-4" />

                        <form @submit.prevent="submitPassword">
                            <h3>Actualizar Contraseña</h3>
                            <div class="mt-4">
                                <breeze-label for="password" value="Contraseña" />
                                <breeze-input id="password" type="password" class="mt-1 block w-full" v-model="form.password" required autocomplete="new-password" />
                            </div>

                            <div class="mt-4">
                                <breeze-label for="password_confirmation" value="Confirmar Contraseña" />
                                <breeze-input id="password_confirmation" type="password" class="mt-1 block w-full" v-model="form.password_confirmation" required autocomplete="new-password" />
                            </div>

                            <div class="flex items-center justify-end mt-4">
                                <breeze-button class="ml-4" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                                    Guardar
                                </breeze-button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </breeze-authenticated-layout>
</template>

<script>
import BreezeAuthenticatedLayout from '@/Layouts/Authenticated'
import BreezeButton from '@/Components/Button'
import BreezeInput from '@/Components/Input'
import BreezeLabel from '@/Components/Label'
import BreezeValidationErrors from '@/Components/ValidationErrors'


export default {
    components: {
        BreezeAuthenticatedLayout,
        BreezeButton,
        BreezeInput,
        BreezeLabel,
        BreezeValidationErrors,
    },

    props: {
        auth: Object,
        errors: Object,
        empleado: Object,
    },

    data() {
        return {
            form: this.$inertia.form({
                codigo: '',
                nombre: '',
                apellido_paterno: '',
                apellido_materno: '',
                email: '',
                tipo_contracto: '',
                estado: true,
                password: '',
                password_confirmation: ''
            })
        }
    },
    created: function () {
        this.form.codigo = this.empleado.codigo;
        this.form.nombre = this.empleado.nombre;
        this.form.apellido_paterno = this.empleado.apellido_paterno;
        this.form.apellido_materno = this.empleado.apellido_materno;
        this.form.email = this.empleado.email;
        this.form.tipo_contracto = this.empleado.tipo_contracto;

        if(this.empleado.estado){
            this.form.estado = true;
        }else {
            this.form.estado = false;
        }

    },
    methods: {
        submit() {
            this.form.put(this.route('empleados.update', this.empleado.id), {
                onFinish: () => this.form.reset('password', 'password_confirmation'),
            })
        },
        submitPassword() {
            this.form.put(this.route('empleados.password', this.empleado.id), {
                onFinish: () => this.form.reset('password', 'password_confirmation'),
            })
        }
    }
}
</script>


