<template>
    <breeze-authenticated-layout>
        <template #header>
            <div class="row">
                <div class="col">
                    <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                        Lista De Empleados
                    </h2>
                </div>
                <div class="col text-right">
                    <inertia-link :href="route('empleados.create')" class="btn btn-primary my-2 my-sm-0">
                        Agregar Empleado
                    </inertia-link>
                </div>


            </div>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6 bg-white border-b border-gray-200">
                        <div class="table-responsive">
                            <table class="table table-auto table-empleados">
                                <thead>
                                <tr>
                                    <th scope="col" width="100">#</th>
                                    <th scope="col">Código</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Apellido Paterno</th>
                                    <th scope="col">Correo Electrónico</th>
                                    <th scope="col">Estatus</th>
                                    <th>Acciones</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(empleado, index) in empleados">
                                    <th scope="row">{{empleado.id}}</th>
                                    <td>{{empleado.codigo}}</td>
                                    <td>{{empleado.nombre}}</td>
                                    <td>{{empleado.apellido_paterno}}</td>
                                    <td>{{empleado.email}}</td>
                                    <td>
                                        <span class="badge badge-primary" v-if="empleado.estado">Activo</span>
                                        <span class="badge badge-danger" v-else>Inactivo</span>
                                    </td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Acciones
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <inertia-link :href="route('empleados.show', empleado.id)" class="dropdown-item">
                                                    Ver detalle
                                                </inertia-link>
                                                <inertia-link :href="route('empleados.edit', empleado.id)" class="dropdown-item">
                                                    Editar
                                                </inertia-link>
                                                <inertia-link v-if="empleado.estado" :href="route('empleados.status', [empleado.id, 0])" class="dropdown-item">
                                                    Desactivar
                                                </inertia-link>
                                                <inertia-link v-else :href="route('empleados.status', [empleado.id, 1])" class="dropdown-item">
                                                    Activar
                                                </inertia-link>
                                                <inertia-link :href="route('empleados.delete', empleado.id)" class="dropdown-item">
                                                    Eliminar
                                                </inertia-link>
                                            </div>
                                        </div>
                                    </td>


                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </breeze-authenticated-layout>
</template>

<script>
import BreezeAuthenticatedLayout from '@/Layouts/Authenticated'

export default {
    components: {
        BreezeAuthenticatedLayout,
    },

    props: {
        auth: Object,
        errors: Object,
        empleados: Object,
    },
}
</script>


