<template>
    <breeze-authenticated-layout>
        <template #header>
            <div class="row">
                <div class="col">
                    <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                        {{empleado.nombre}} {{empleado.apellido_paterno}}
                    </h2>
                </div>
                <div class="col text-right">
                    <inertia-link :href="route('empleados')" class="btn btn-primary my-2 my-sm-0">
                        Regresar
                    </inertia-link>
                </div>


            </div>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6 bg-white border-b border-gray-200">
                        <div class="row row-empleados-show">
                            <div class="col">
                                <span class="font-weight-bold">Tipo De Contrato</span>
                                <h4 v-if="empleado.tipo_contracto === 'indefinido' ">Indefinido</h4>
                                <h4 v-if="empleado.tipo_contracto === 'renovacion' ">Renovación</h4>
                                <h4 v-if="empleado.tipo_contracto === 'medio_tiempo' ">Medio Tiempo</h4>
                            </div>
                            <div class="col text-right">
                                <div class="form-check">
                                    <span class="font-weight-bold">Estatus</span>
                                    <h4 v-if="empleado.estado"><span class="badge badge-primary">Activo</span></h4>
                                    <h4 v-else ><span class="badge badge-danger">Inactivo</span></h4>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4">
                            <span class="font-weight-bold">Código</span>
                            <h4>{{empleado.codigo}}</h4>
                        </div>

                        <div class="mt-4">
                            <span class="font-weight-bold">Nombre</span>
                            <h4>{{empleado.nombre}}</h4>
                        </div>

                        <div class="mt-4">
                            <span class="font-weight-bold">Apellido Paterno</span>
                            <h4>{{empleado.apellido_paterno}}</h4>
                        </div>

                        <div class="mt-4">
                            <span class="font-weight-bold">Apellido Materno</span>
                            <h4>{{empleado.apellido_materno}}</h4>
                        </div>

                        <div class="mt-4">
                            <span class="font-weight-bold">Correo Electrónico</span>
                            <h4>{{empleado.email}}</h4>
                        </div>

                        <div class="flex items-center justify-end mt-4">
                            <inertia-link :href="route('empleados.edit', empleado.id)" class="btn btn-danger my-2 my-sm-0">
                                Editar
                            </inertia-link>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </breeze-authenticated-layout>
</template>

<script>
import BreezeAuthenticatedLayout from '@/Layouts/Authenticated'
import BreezeButton from '@/Components/Button'
import BreezeInput from '@/Components/Input'
import BreezeLabel from '@/Components/Label'

export default {
    components: {
        BreezeAuthenticatedLayout,
        BreezeButton,
    },

    props: {
        auth: Object,
        errors: Object,
        empleado: Object,
    },
}
</script>

<style>
.row-empleados-show span {
    font-size: 12px;
}

</style>


